*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.App{
    border: solid 1px #ccc;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

